<h1>create account</h1>
<form method="POST" action="{{ root }}login/createUser/send" name="form" id="form">
    <input type="text" value="" placeholder="last name" name="last_name"  required>
    <input type="text" value="" placeholder="firstname" name="first_name" required>
    <input type="email" value="" placeholder="email" name="email" required>
    <input type="password" value="" placeholder="password" name="password" required>
    <input type="password" value="" placeholder="password" name="confirm_password" required>

    <input type="Submit">
</form>
<div>
    <a href="{{ root }}/login/login">Log In</a>
</div>