<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>COGIP - Login</title>
        <link rel="stylesheet" href="{{ root }}/assets/css/login.css" />
    </head>
    <body>
        <main>
            <div class="header">
                <span class="title">Welcome Back</span>
                <span class="description">Please enter your details</span>
            </div>
            <form
                method="POST"
                action="{{ root }}/login/connect"
                name="form"
                id="form"
                class="form"
            >
                <input
                    type="email"
                    value="Jean-Christian@cogip.com"
                    placeholder=""
                    name="email"
                />
                <input
                    type="password"
                    value="admin"
                    placeholder=""
                    name="password"
                />
                <input class="submit" type="Submit" value="Sign-in" />
            </form>
            <div class="footer">
                <span class="account">Don't have an account ? </span>
                <a href="{{ root }}/login/createUser">Sign Up</a>
            </div>
        </main>
    </body>
</html>
