@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-blacktext:rgba(0, 0, 0, 1);
  --color-yellow: rgba(249, 222, 78, 1);
  --color-lightgreytablerows: rgba(245, 245, 245, 1);
  --color-greyfootertext:rgba(115, 115, 115, 1);
  --color-greyfooterlogo: #434138;
  --color-lightgreyarrow: rgba(145, 158, 171, 1);
  --color-lightgreysearchinput: rgba(99, 99, 99, 1);
  --color-lightgreybordercontacts: rgba(205, 205, 205, 1);
  --color-lightgreypagesbtns: rgba(223, 227, 232, 1);
  --color-darkbluefooter: #0A142F;
  --color-purpledashboard: rgba(150, 152, 214, 1);
  --color-darkpurpledashboard: rgba(77, 76, 172, 1);
  --color-pinkdashboard: rgba(255, 128, 139, 1);
  --color-backgroundDash: rgba(245, 245, 251, 1);
  --font-family-header: "Roboto", sans-serif;
  --font-family-title: "Inter", sans-serif;
  --font-size-body: 1rem;
  --font-weight-thin:100;
  --font-weight-light:300;
  --font-weight-regular:400;
  --font-weight-semibold:600;
  --font-weight-bold:700;
  --font-weight-black:900;
  --line-height: 1.5;
  --border-width: 1px;
  --border-solid: solid;
  --border-color: #dee2e6;
  --border-color-translucent: rgba(0, 0, 0, 0.175);
  --border-radius-main: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;
  --border-radius-circle: 50%: ;
}

.mybtn {
  white-space: nowrap;
  font-size: 4rem;
  position: fixed;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  transform: translateY(0);
  transition: all 750ms ease-in-out;
}

/* this sets the position of the arrow when it's up, so it will move up or down by 14px when you add or remove this class */
.lift {
  transform: translateY(14px);
}

.main__section {
  display: flex;
  flex-direction: column;
}
.main__section h3 {
  font-weight: 700;
  margin: 2rem 2rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #E7E7E7;
}
.main__section .main__section__table {
  margin-left: 5%;
}
.main__section .main__section__table .table__header {
  font-weight: 600;
  text-align: left;
  height: 5vh;
}
.main__section .main__section__table .table__body {
  text-align: left;
  font-weight: 200;
}
.main__section .main__section__table .table__body .table__body__row {
  margin-bottom: 20px;
  height: 5vh;
}

body {
  display: flex;
  font-family: var(--font-family-title);
}
@media (max-width: 413px) {
  body {
    flex-direction: column;
  }
}
body .aside {
  width: 20%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 413px) {
  body .aside {
    padding: 3vh 2vw 2vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
body .aside__section {
  width: 100%;
}
body .aside__section--user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  border: 1px solid #E7E7E7;
  text-align: center;
  font-family: var(--font-family-header);
  font-weight: 900;
  font-size: 1.5vw;
  aspect-ratio: 1/1;
}
@media (max-width: 413px) {
  body .aside__section--user {
    padding: 0%;
    border: 0px;
    border-right: #E7E7E7;
    height: 0%;
    width: 35%;
  }
}
@media (max-width: 413px) {
  body .aside__section--user .section__user__pic {
    width: 75%;
  }
}
body .aside__section--user .section__user__pic img {
  width: 40%;
  margin-bottom: 10%;
}
@media (max-width: 413px) {
  body .aside__section--user .section__user__pic img {
    width: 30px;
    margin-bottom: 0%;
    padding: 10%;
  }
}
body .aside__section--user h3 {
  display: none;
}
@media (min-width: 600px) {
  body .aside__section--user h3 {
    font-size: 1.2em;
    display: block;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
  }
}
body .aside__section--nav {
  flex-grow: 1;
  margin-top: 15%;
}
@media (max-width: 413px) {
  body .aside__section--nav {
    margin: 0;
  }
}
body .aside__section--nav .aside__section__nav {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 413px) {
  body .aside__section--nav .aside__section__nav {
    margin-left: 0vw;
  }
}
body .aside__section--nav .aside__section__nav ul {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}
@media (max-width: 413px) {
  body .aside__section--nav .aside__section__nav ul {
    flex-direction: row;
    margin-top: 0%;
  }
}
body .aside__section--nav .aside__section__nav ul li {
  display: flex;
  align-items: center;
  margin: 0.8em 0;
  padding: 0.2em 0;
}
@media (max-width: 413px) {
  body .aside__section--nav .aside__section__nav ul li {
    margin-bottom: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
}
body .aside__section--nav .aside__section__nav ul li img {
  width: 15px;
}
body .aside__section--nav .aside__section__nav ul li a {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.2vw;
  color: inherit;
}
@media (max-width: 413px) {
  body .aside__section--nav .aside__section__nav ul li a {
    margin-left: 0rem;
    font-size: 2.2vw;
  }
}
body .aside__section--nav .aside__section__nav ul li:hover {
  font-weight: 600;
  border-right: solid 3px #9698D6;
  cursor: pointer;
}
@media (max-width: 413px) {
  body .aside__section--nav .aside__section__nav ul li:hover {
    border-right: solid 0px #9698D6;
  }
}
body .aside__section--logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E7E7E7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 413px) {
  body .aside__section--logout {
    border-top: none;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }
}
body .aside__section--logout img {
  width: 16.8%;
  margin: 3% 5%;
}
@media (max-width: 413px) {
  body .aside__section--logout img {
    padding: 0%;
    display: none;
  }
}
body .aside__section--logout h6 {
  margin-right: 5%;
  color: #9698D6;
}
@media (max-width: 413px) {
  body .aside__section--logout h6 {
    height: 100%;
  }
}
body .aside__section--logout h6:hover {
  color: #42425c;
  cursor: pointer;
}
body .main {
  width: 85%;
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--color-backgroundDash);
}
@media (max-width: 413px) {
  body .main {
    width: 100%;
    padding: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media (max-width: 811px) {
  body .main {
    width: 100%;
    padding: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
body .main .header {
  width: 92%;
  position: relative;
  margin-top: 1vh;
}
body .main .header__legend {
  margin-bottom: 5%;
}
body .main .header__legend__title {
  font-weight: 900;
  font-size: 2vw;
}
@media (max-width: 413px) {
  body .main .header__legend__title {
    font-size: 4vw;
  }
}
body .main .header__legend__subtitle {
  font-size: 1vw;
}
@media (max-width: 413px) {
  body .main .header__legend__subtitle {
    font-size: 3vw;
  }
}
body .main .header__welcome {
  background-color: var(--color-purpledashboard);
  border-radius: 10px;
  padding: 5%;
}
body .main .header__welcome h2 {
  font-size: 2vw;
  color: white;
}
@media (max-width: 413px) {
  body .main .header__welcome h2 {
    font-size: 4vw;
  }
}
body .main .header__welcome p {
  font-size: 1vw;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 413px) {
  body .main .header__welcome p {
    font-size: 3vw;
  }
}
body .main .header__illustration {
  position: absolute;
  bottom: 35%;
  left: 60%;
  width: 30%;
}
@media (max-width: 413px) {
  body .main .header__illustration {
    display: none;
  }
}
@media (max-width: 811px) {
  body .main .header__illustration {
    bottom: 15%;
  }
}
body .main__section--statistique {
  width: 45%;
  height: 25%;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 413px) {
  body .main__section--statistique {
    width: 90%;
  }
}
@media (max-width: 811px) {
  body .main__section--statistique {
    width: 90%;
  }
}
body .main__section--statistique h3 {
  margin: 1rem 0rem 1rem 1rem;
  font-weight: 700;
}
body .main__section--statistique .main__section__stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 413px) {
  body .main__section--statistique .main__section__stats {
    margin-bottom: 3vh;
  }
}
@media (max-width: 811px) {
  body .main__section--statistique .main__section__stats {
    margin-bottom: 3vh;
  }
}
body .main__section--statistique .main__section__stats .stats_block__data--contact {
  background-color: #4D4CAC;
}
body .main__section--statistique .main__section__stats .stats_block__data--invoices {
  background-color: #9698D6;
}
body .main__section--statistique .main__section__stats .stats_block__data--companies {
  background-color: #FF808B;
}
body .main__section--statistique .main__section__stats p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  font-size: 1vw;
}
@media (max-width: 413px) {
  body .main__section--statistique .main__section__stats p {
    font-size: 2vw;
  }
}
@media (max-width: 811px) {
  body .main__section--statistique .main__section__stats p {
    width: 10vw;
    height: 10vw;
    font-size: 1.5vw;
  }
}
body .main__section--datatable {
  width: 45%;
  background-color: white;
  border-radius: 10px;
  font-size: 1vw;
}
@media (max-width: 413px) {
  body .main__section--datatable {
    width: 90%;
    font-size: 2.5vw;
  }
}
@media (max-width: 811px) {
  body .main__section--datatable {
    width: 90%;
    font-size: 2vw;
  }
}/*# sourceMappingURL=dashboard.css.map */