@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-blacktext:rgba(0, 0, 0, 1);
  --color-yellow: rgba(249, 222, 78, 1);
  --color-lightgreytablerows: rgba(245, 245, 245, 1);
  --color-greyfootertext:rgba(115, 115, 115, 1);
  --color-greyfooterlogo: #434138;
  --color-lightgreyarrow: rgba(145, 158, 171, 1);
  --color-darkbluefooter: #0A142F;
  --color-purpledashboard: rgba(150, 152, 214, 1);
  --color-darkpurpledashboard: rgba(77, 76, 172, 1);
  --color-pinkdashboard: rgba(255, 128, 139, 1);
  --font-family-header: "Roboto", sans-serif;
  --font-family-title: "Inter", sans-serif;
  --font-size-body: 1rem;
  --font-weight-thin:100;
  --font-weight-light:300;
  --font-weight-regular:400;
  --font-weight-semibold:600;
  --font-weight-bold:700;
  --font-weight-black:900;
  --line-height: 1.5;
  --border-width: 1px;
  --border-solid: solid;
  --border-color: #dee2e6;
  --border-color-translucent: rgba(0, 0, 0, 0.175);
  --border-radius-main: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;
  --border-radius-circle: 50%: ;
}

.header {
  background-color: var(--color-yellow);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}
.header .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  width: 80%;
  margin: 50px 0px;
}
.header .header__menu .header__menu__left {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 65%;
}
.header .header__menu .header__menu__left .header__menu__logo {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}
.header .header__menu .header__menu__left .header__menu__nav {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.header .header__menu .header__menu__left .header__menu__nav li {
  padding: 10px;
  cursor: pointer;
  border: 0.5px;
}
.header .header__menu .header__menu__left .header__menu__nav li:hover {
  border: solid 0.5px;
}
.header .header__menu .header__menu__connection {
  display: flex;
  align-items: center;
}
.header .header__menu .header__menu__connection .menu__connection__signUp {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0px 20px;
  cursor: pointer;
}
.header .header__menu .header__menu__connection .menu__connection__signUp:hover {
  background-color: rgb(251, 255, 134);
}
.header .header__menu .header__menu__connection .menu__connection__login {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  background-color: var(--color-yellow);
  padding: 10px;
  cursor: pointer;
  border: 0.5px;
}
.header .header__menu .header__menu__connection .menu__connection__login:hover {
  border: solid 0.5px;
}
.header .header__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 2%;
}
.header .header__banner .header__banner__slogan {
  font-family: "Inter";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 79px;
  width: 50%;
}
.header .header__banner .header__banner__image {
  width: 40%;
}
.header .header__mask {
  width: 90%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  color: var(--color-darkbluefooter);
}
.footer .footer__banner {
  border-top: 2px solid var(--color-yellow);
  border-bottom: 1px solid rgb(199, 199, 199);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
}
.footer .footer__banner .footer__banner__logo {
  font-weight: 900;
  font-size: 48px;
  border: 5px solid var(--color-yellow);
  color: var(--color-greyfooterlogo);
  padding: 5px;
  margin-left: 2%;
}
.footer .footer__banner .footer__banner__infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  color: var(--color-greyfootertext);
}
.footer .footer__banner .footer__banner__infos .banner__infos__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__contact .infos__contact__phone {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 50%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__contact .infos__contact__fax {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 50%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__social {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__social ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__social ul .social__icons__title {
  mix-blend-mode: normal;
  opacity: 0.5;
  white-space: nowrap;
  cursor: default;
}
.footer .footer__banner .footer__banner__infos .banner__infos__social ul li {
  cursor: pointer;
}
.footer .footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-darkbluefooter);
}
.footer .footer__menu .footer__menu__nav {
  display: flex;
  gap: 15%;
}
.footer .footer__menu .footer__menu__nav li {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.footer .footer__menu .footer__menu__copyright {
  color: var(--color-greyfootertext);
}

.main {
  z-index: -1;
}

.main__section--downbanner {
  z-index: 1;
  width: 100%;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
}

.downbanner__content {
  z-index: 1;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downbanner__content__slogan {
  position: relative;
  z-index: 1;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-black);
  font-size: 4rem;
  line-height: 79px;
  width: 50%;
}
.downbanner__content__image {
  z-index: 1;
  width: 30rem;
}

body, .main {
  overflow-x: hidden;
}

.downbanner__background {
  margin: 0;
  position: absolute;
  z-index: -1;
  width: 75%;
  left: 10rem;
}

.main__section {
  width: 85%;
  margin: auto;
  margin-bottom: 3rem;
}
.main__section__title {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-black);
  font-size: 3.75rem;
  margin: 3.25rem 0 7rem 0;
  padding-left: 1rem;
}
.main__section__table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
}
.main__section__table .table__header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main__section__table .table__header__row {
  background-color: var(--color-yellow);
  height: 55px;
}
.main__section__table .table__header__row__title {
  padding: 0 1.3rem 0 1.6rem;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  border: none;
}
.main__section__table .table__header__row__title:first-child {
  padding-left: 2.3rem;
}
.main__section__table .table__header__row__title:nth-last-child(1) {
  width: 100%;
}
.main__section__table .table__body__row {
  height: 55px;
  padding: 0 1rem;
}
.main__section__table .table__body__row:nth-of-type(even) {
  background-color: var(--color-lightgreytablerows);
}
.main__section__table .table__body__row__cell {
  padding: 0 1.3rem;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
}
.main__section__table .table__body__row__cell:first-child {
  padding-left: 2rem;
}

.ordertriangle {
  font-size: 25px;
  vertical-align: middle;
  line-height: unset !important;
}