@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-blacktext:rgba(0, 0, 0, 1);
  --color-yellow: rgba(249, 222, 78, 1);
  --color-lightgreytablerows: rgba(245, 245, 245, 1);
  --color-greyfootertext:rgba(115, 115, 115, 1);
  --color-greyfooterlogo: #434138;
  --color-lightgreyarrow: rgba(145, 158, 171, 1);
  --color-lightgreysearchinput: rgba(99, 99, 99, 1);
  --color-lightgreybordercontacts: rgba(205, 205, 205, 1);
  --color-darkbluefooter: #0A142F;
  --color-purpledashboard: rgba(150, 152, 214, 1);
  --color-darkpurpledashboard: rgba(77, 76, 172, 1);
  --color-pinkdashboard: rgba(255, 128, 139, 1);
  --font-family-header: "Roboto", sans-serif;
  --font-family-title: "Inter", sans-serif;
  --font-size-body: 1rem;
  --font-weight-thin:100;
  --font-weight-light:300;
  --font-weight-regular:400;
  --font-weight-semibold:600;
  --font-weight-bold:700;
  --font-weight-black:900;
  --line-height: 1.5;
  --border-width: 1px;
  --border-solid: solid;
  --border-color: #dee2e6;
  --border-color-translucent: rgba(0, 0, 0, 0.175);
  --border-radius-main: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;
  --border-radius-circle: 50%: ;
}

.header {
  background-color: var(--color-yellow);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  margin-bottom: 3.5rem;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 80%;
}
.header__menu__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__menu__container .header__dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__menu__container .header__menu__logo {
  font-weight: 900;
  font-size: 3vw;
  line-height: 56px;
  margin-right: 5vw;
}
@media only screen and (max-width: 413px) {
  .header__menu__container .header__menu__logo {
    font-size: 5vw;
  }
}
.header__menu__container .toggle-button {
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.header__menu__container .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.header__menu__container .navbar-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu__container .navbar-links .header__menu__nav {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  width: 100%;
}
.header__menu__container .navbar-links .header__menu__nav li {
  padding: 10px;
  cursor: pointer;
  border: 0.5px;
}
.header__menu__container .navbar-links .header__menu__nav li a {
  text-decoration: none;
}
.header__menu__container .navbar-links .header__menu__nav li a:visited {
  color: var(--color-blacktext);
}
.header__menu__container .navbar-links .header__menu__nav li.activepage {
  border: 0.5px solid black;
}
.header__menu__container .navbar-links .header__menu__nav li:hover {
  border: solid 0.5px;
}
.header__menu__container .navbar-links .header__menu__nav .menu__connection__signUp {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: auto;
  margin-right: 5%;
  padding: 5px 10px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .header__menu__container .navbar-links .header__menu__nav .menu__connection__signUp {
    background-color: rgb(255, 255, 255);
    margin: 0;
  }
}
.header__menu__container .navbar-links .header__menu__nav .menu__connection__signUp:hover {
  background-color: rgb(251, 255, 134);
}
.header__menu__container .navbar-links .header__menu__nav .menu__connection__login {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  background-color: var(--color-yellow);
  padding: 10px;
  cursor: pointer;
  border: 0.5px;
}
.header__menu__container .navbar-links .header__menu__nav .menu__connection__login:hover {
  border: solid 0.5px;
}
.header .header__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 2%;
}
.header .header__banner .header__banner__slogan {
  font-family: "Inter";
  font-weight: 900;
  font-size: 5vw;
  width: 50%;
}
.header .header__banner .header__banner__image {
  width: 40%;
}
@media only screen and (max-width: 413px) {
  .header .header__banner .header__banner__image {
    width: 50%;
  }
}
.header .header__mask {
  width: 90%;
}

@media (max-width: 811px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar .header__dropdown {
    width: 100%;
    justify-content: space-between;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none !important;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 30%;
    background-color: var(--color-yellow);
  }
  .navbar-links .header__menu__nav {
    width: 80%;
    border-top: solid;
    border-bottom: solid;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .navbar-links ul li {
    text-align: center;
    padding: 50px 0px;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex !important;
    width: 100%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  color: var(--color-darkbluefooter);
}
.footer .footer__banner {
  border-top: 2px solid var(--color-yellow);
  border-bottom: 1px solid rgb(199, 199, 199);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  margin-top: 6.25rem;
}
.footer .footer__banner .footer__banner__logo {
  font-weight: 900;
  font-size: 48px;
  border: 5px solid var(--color-yellow);
  color: var(--color-greyfooterlogo);
  padding: 5px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 413px) {
  .footer .footer__banner .footer__banner__logo {
    flex-direction: column;
    padding: 10px 0px;
  }
}
.footer .footer__banner .footer__banner__infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  color: var(--color-greyfootertext);
}
@media only screen and (max-width: 413px) {
  .footer .footer__banner .footer__banner__infos {
    width: 100%;
    align-items: center;
  }
}
.footer .footer__banner .footer__banner__infos .banner__infos__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__contact .infos__contact__phone {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 50%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__contact .infos__contact__fax {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 50%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__social {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}
.footer .footer__banner .footer__banner__infos .banner__infos__social ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
}
@media only screen and (max-width: 413px) {
  .footer .footer__banner .footer__banner__infos .banner__infos__social ul {
    flex-wrap: wrap;
  }
}
.footer .footer__banner .footer__banner__infos .banner__infos__social ul .social__icons__title {
  mix-blend-mode: normal;
  opacity: 0.5;
  white-space: nowrap;
  cursor: default;
}
.footer .footer__banner .footer__banner__infos .banner__infos__social ul li {
  cursor: pointer;
}
.footer .footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-darkbluefooter);
}
@media only screen and (max-width: 413px) {
  .footer .footer__menu {
    flex-direction: column;
  }
}
.footer .footer__menu .footer__menu__nav {
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
}
@media only screen and (max-width: 413px) {
  .footer .footer__menu .footer__menu__nav {
    flex-wrap: wrap;
  }
}
.footer .footer__menu .footer__menu__nav li {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.footer .footer__menu .footer__menu__copyright {
  color: var(--color-greyfootertext);
}

.main {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__section--downbanner {
  z-index: 1;
  width: 100%;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
}

.bottomBanner {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
.bottomBanner .downbanner__content {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottomBanner .downbanner__content__slogan {
  position: relative;
  z-index: 1;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-black);
  font-size: 4vw;
  line-height: 125%;
  width: 40%;
  margin-left: 10%;
}
.bottomBanner .downbanner__content__image {
  z-index: 1;
  width: 80%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main__handForm {
  align-self: flex-end;
}
main .main__lightIdea {
  align-self: flex-start;
}
main .main__section {
  width: 85%;
  margin: auto;
}
main .main__section .div__title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}
main .main__section__title {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-black);
  font-size: 3.75rem;
  margin: 0 0 5rem 0;
  padding-left: 1rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 100px;
}
main .main__section__title--yellowshadow {
  display: block;
  float: left;
  position: relative;
  margin-bottom: 5.5rem;
}
main .main__section__title--yellowshadow::before {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  width: 70%;
  bottom: -0.5rem;
  left: 10rem;
  height: 2rem;
  background: var(--color-yellow);
}
main .main__section__title--company {
  text-transform: uppercase;
  display: block;
  float: left;
  position: relative;
}
main .main__section__title--company::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  bottom: -0.5rem;
  left: 3rem;
  height: 2rem;
  background: var(--color-yellow);
  z-index: -1;
}
main .main__section__title--companycontactstitle {
  margin: 2.875rem 0 4.063rem 0;
  padding: 0;
}
main .main__section__title--contact {
  display: block;
  float: left;
  position: relative;
}
main .main__section__title--contact::before {
  display: block;
  content: "";
  position: absolute;
  width: 80%;
  bottom: -0.5rem;
  left: 3rem;
  height: 2rem;
  background: var(--color-yellow);
  z-index: -1;
}
main .main__section__title--companyinvoices {
  margin-top: 6.875rem;
}
main .main__section .searchinput {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  padding: 0.8rem 0.2rem 0.8rem 0.6rem;
  margin: 5rem 0.7rem 0 0;
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--color-lightgreysearchinput);
  font-size: large;
}
main .main__section--companycontacts {
  border-top: 1px solid var(--color-lightgreybordercontacts);
  border-bottom: 1px solid var(--color-lightgreybordercontacts);
}
main .main__section__table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
}
main .main__section__table .table__header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main .main__section__table .table__header__row {
  background-color: var(--color-yellow);
  height: 55px;
}
main .main__section__table .table__header__row__title {
  padding: 0 1.3rem 0 1.6rem;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  border: none;
}
main .main__section__table .table__header__row__title:first-child {
  padding-left: 2.3rem;
}
main .main__section__table .table__header__row__title:nth-last-child(1) {
  width: 100%;
}
main .main__section__table .table__body__row {
  height: 55px;
  padding: 0 1rem;
}
main .main__section__table .table__body__row:nth-of-type(even) {
  background-color: var(--color-lightgreytablerows);
}
main .main__section__table .table__body__row__cell {
  padding: 0 1.3rem;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
}
main .main__section__table .table__body__row__cell:first-child {
  padding-left: 2rem;
}
main .main__section--contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .main__section__contacts {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 5.25rem;
}
main .main__section__contacts .contact__card {
  background: var(--color-lightgreytablerows);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-2xl);
  margin-right: 3.6rem;
  box-shadow: 0px 0px 3.5rem -1.813rem rgba(0, 0, 0, 0.25);
}
main .main__section__contacts .contact__card__piccontainer {
  margin: 1.875rem;
  margin-left: 1.75rem;
  position: relative;
  width: 8.25rem;
  height: 8.25rem;
  border-radius: 50%;
  overflow: hidden;
}
main .main__section__contacts .contact__card__piccontainer .contactpic {
  position: absolute;
  -o-object-position: 50%;
     object-position: 50%;
  left: -2rem;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: auto;
}
main .main__section__contacts .contact__card__name {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-black);
  font-size: 2.188rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 2.8rem 0 0.875rem;
}
main .main__section__contacts .contact__card__link {
  text-decoration: none;
  color: var(--color-blacktext);
}
main .main__section__contacts .contact__card__link:hover {
  color: var(--color-purpledashboard);
}
main .ordertriangle {
  font-size: 25px;
  vertical-align: middle;
  line-height: unset !important;
}
main .contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  font-family: var(--font-family-header);
  font-size: 1.563rem;
  margin-bottom: 4.625rem;
}
main .contact .bold {
  font-weight: var(--font-weight-bold);
}
main .contact .firstletterup {
  text-transform: capitalize;
}
main .contact .tvacapitalize {
  text-transform: uppercase;
}
main .contact__pic {
  width: 15.938rem;
  height: 15.938rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5rem;
  margin-top: -1rem;
}
main .contact__pic .contactbigpic {
  position: absolute;
  -o-object-position: 0%;
     object-position: 0%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: auto;
}