{{ dump() }}

<h1>Submit test</h1>

<form method="POST" action="/submitest/submit" name="form" id="form">

    <p>In the tag form, we put the route for submitting form in action.
    The routes are in routes_list.md at *Submit routes* section</p>

    <input type="text" value="test text" placeholder="test text" name="test">
    <input type="text" value="test text number 2" placeholder="test text number 2" name="test_2">
    <input type="Submit" value="SAVE">

    <p>It's important to give names to inputs : theses names will be used by form action to send datas to PHP</p>

</form>