{{ dump() }}

<h1>Submit test</h1>

<form method="POST" action="/submitest/submit" name="form" id="form">

    <input type="text" value="test text" placeholder="test text">
    <input type="Submit" value="SAVE">

</form>