<aside class="aside">
    <section class="aside__section aside__section--user">
        <div class="section__user__pic">
            {# <img src=""> #}
        </div>
        <h3 class="section__user__name">Henry George</h3>

    </section>

    <section class="aside__section aside__section--nav">
        <nav class="aside__section__nav">
            <ul class="nav__list">
                <li class="nav__list__item"><span class="icon icon--dashboard"></span>Dashboards</li>
                <li class="nav__list__item"><span class="icon icon--invoices"></span>Invoices</li>
                <li class="nav__list__item"><span class="icon icon--companies"></span>Companies</li>
                <li class="nav__list__item"><span class="icon icon--contacts"></span>Contacts</li>
            </ul>
        </nav>

    </section>

    <section class="aside__section aside__section--logout">
        <div class="section__logout__pic">
            {# <img src=""> #}
        </div>
        <h6 class="section__logout__p">Logout</h6>

    </section>

</aside>