<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/reset.css" rel="stylesheet" type="text/css">
        <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{{pageTitle}}{% endblock %}</title>
    </head>
    {% endblock %}



    {% block body %}
    <body>

        {% block header %}
            {% include 'header.html.twig' %}
        {% endblock %}

        
        



{# --------------------------- MAIN CONTENT--------------------------------- #}

    <main class="main">
        {% block content %}
                 {# ------- Dynamic main content (data display) --------- #}
        {% endblock %}
    </main>


{# ------------------------------- FOOTER ------------------------------ #}
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
        


{# ----------------------------- JS scripts -------------------------------- #}
        <script src="assets/javascript/script.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
{% endblock %}


</html>