{# = SHOW_INVOICE Figma page #}

{% extends "welcome.html.twig" %}



{% block content %}

            <h2 class="main__section__title main__section__title--company">PIED PIPPER</h2>

    {% block informations %}
        {% include 'informations.html.twig' %}
    {% endblock %}

    {% block companycontact %}
        <section class="main__section">
            <h2 class="main__section__title">Contact persons</h2>
                <div class="main__section__contacts">
                    {# contains contact cards #}
                    <div class="contact__card">
                        <img class="contact__card__pic">
                        <h3 class="contact__card__name">Bertram<br>Gilfoyle</h3>
                    </div>
                    <div class="contact__card">
                        <img class="contact__card__pic">
                        <h3 class="contact__card__name">Henry<br>George</h3>
                    </div>
                </div>
        </section>
    {% endblock %}

    {# Import table template: #}
    {% include 'lastdata.html.twig' %}


{% endblock %}