<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
    <title>Cogip - Welcome</title>
</head>
<body>
<main>
    <section class="container">
        <img
                src="assets/img/Illustration.png"
                alt="cogip logo"
                class="illustration">
        <h1>Welcome to {{ prout }}</h1>
        <p>This base project is provided by BeCode</p>
        <ul>
            {% for user in _context %}
                <li>{{ user.companies_name }}</li>
            {% endfor %}
        </ul>
    </section>
</main>
</body>
</html>

