{# *HTML VUE  #}
{# = "SHOW_CONTACT" page (see Figma) #}

{% extends "welcome.html.twig" %}



{% block content %}

            {# TODO: replace <h2>.innerhtml by variable #}
            <h2 class="main__section__title main__section__title--contact">BERTRAM GILFOYLE</h2>

    {% block informations %}
        {% include 'informations.html.twig' %}

            {% block contactpic %}
                <div class="contact__pic">
                    {# <img src=""> #}
                </div>
            {% endblock %}

    {% endblock %}


{% endblock %}