{# TEMPLATE ELEMENT TO EXTEND: #}
{# DATA TABLE template #}

{% block tablesection %}

{# TODO: write loop to display tde 3 different sections #}

<section class="main__section">

    {% block tabletitlesection %}
    {# TODO: replace h2 title by variable #}
    <h2 class="main__section__title">Section Title</h2>
    {% endblock %}



    {% block datatable %}

    <div class ="main__section__tablecontainer">
        <table class="main__section__table">

            {% block tableheader %}
            <thead class="table__header">
                <tr class="table__header__row">
                    
                    {% block tableheadercells %}
                    {# TODO: replace <td>.innerhtml by #}
                    <th scope="col" class="table__header__row__title">DataColTitle<span class="ordertriangle">&#9662;</span></th>
                    <th scope="col" class="table__header__row__title">DataColTitl<span class="ordertriangle">&#9662;</span></th>
                    <th scope="col" class="table__header__row__title">DataColTitl<span class="ordertriangle">&#9662;</span></th>
                    <th scope="col" class="table__header__row__title">DataColTitl<span class="ordertriangle">&#9662;</span></th>
                    {% endblock %}

                </tr>
            </thead>
            {% endblock %}

            {% block tablebody %}
            <tbody class= "table__body">
                {# TODO: write loop to display all table rows (<tr>) + replace <td>.innerhtml by db data #}
                {% block tablebodyrows %}

                <tr class="table__body__row">
                    <td scope="col" class="table__body__row__cell">F20220915-001</td>
                    <td scope="col" class="table__body__row__cell">15/09/20222</td>
                    <td scope="col" class="table__body__row__cell">Jouet Jean-Michel</td>
                    <td scope="col" class="table__body__row__cell">25/09/2020</td>
                </tr>

                {% endblock %}


            </tbody>

            {% endblock %}
            
        </table>
    </div>
    {% endblock %}

    {% block datapages %}
        {# Controller buttons for datadetails pages (INVOICES, CONTACTS, COMPANIES).
        Not used in welcome page, so left empty in this template #}
    {% endblock %}


</section>

{% endblock %}