{% block footer %}
<footer class="footer">
    <section class="footer__banner">
        <div class="footer__banner__logo">COGIP</div>
        <div class="footer__banner__infos">
            <section class="banner__infos__contact"></section>
                <div class="infos__contact__adress">Square des Martyrs, 6000 Charleroi</div>
                <div class="infos__contact__phone">(123) 456-7890</div>
                <div class="infos__contact__fax">(123) 456-7890</div>
            <section class="banner__infos__social">
                <p class="infos__social__title">Social Media</p>
                <ul class="infos__social__icons">
                    <li class="social__icons__facebook"></li>
                    <li class="social__icons__twitter"></li>
                    <li class="social__icons__linkedin"></li>
                    <li class="social__icons__youtube"></li>
                    <li class="social__icons__instagram"></li>
                    <li class="social__icons__googleplus"></li>
                    <li class="social__icons__pinterest"></li>
                    <li class="social__icons__rss"></li>
                </ul>
            </section>
        </div>
    </section>
    <section class="footer__menu">
        <ul class="footer__menu__nav">
            <li class="menu__nav__home">HOME</li>
            <li class="menu__nav__invoices">INVOINCES</li>
            <li class="menu__nav__companies">COMPANIES</li>
            <li class="menu__nav__contacts">CONTACTS</li>
            <li class="menu__nav__privacy policy">PRIVACY POLICY</li>
        </ul>
        <spanclass="footer__menu__copyright"> Copyright &copy; 2022 • COGIP Inc.</span>
    </section>

</footer>
{% endblock %}