{# ELEMENT TO INCLUDE: #}
{# Header ==> include on base.html main template #}

{% block header %}
    <header class="header">
        <nav class="header__menu">
            <div class="header__menu__logo" >COGIP</div>
            <ul class="header__menu__nav">
                <li class="menu__nav__home">Home</li>
                <li class="menu__nav__invoices">Invoices</li>
                <li class="menu__nav__companies">Companies</li>
                <li class="menu__nav__contacts">Contacts</li>
                </ul>
            <div class ="header__menu__connection">
                <button class="menu__connection__signUp">Sign up</button>
                <button class="menu__connection__login">Login</button>
            </div>
        </nav>
        {% block banner %}
            
        {% endblock %}

        <img class="header__mask" src="assets/img/white_mask.png" alt="white_mask">

    </header>
{% endblock %}



