
<header class="header">
    <div class="header__menu">
        <nav class="header__box__nav">
            <div class="header_box__nav__logo"></div>
            <ul class="header__box_nav__menu">
                <li class="nav__menu__item">Home</li>
                <li class="nav__menu__item">UInvoices</li>
                <li class="nav__menu__item">Companies</li>
                <li class="nav__menu__item"></li>Contacts</li>
                </ul>
            <div class ="header__box__connection">
                <button class="header__box__connection__button">Sign up</button>
                <button class="header__box__connection__button">Login</button>
            </div>
        </nav>
    </div>
</header>
