{# ELEMENT TO INCLUDE  #}
{# Dashboard HEADER ==> To include on dashboardlayout.html #}

<header class="header">
    <section class="header__legend">
        <h1 class="header__legend__title">Dashboard</h1>
        <p class="header__legend__subtitle">dashboard/</p>
    </section>
    <section class="header__welcome">
        <h2 class="header__welcome__title">Welcome Back Henry</h2>
        <p class="header__welcome__subtitle">You can add here an invoice, a company and some contacts</p>
    </section>
    <div class="header__img">
        {# TODO: add img #}
        {# <img src=""> #}
    </div>
</header>