{# ELEMENT TO INCLUDE: #}
{#  SHOW_INVOICE + SHOW_CONTACT Informations (coordonnées) #}

{# TODO: replace <li> & span.innerhtml by variables + LOOP? #}

{% block sectioncompanycontact %}
<section class="main__section">

        {% block sectiontitle %}
        <h2 class="main__section__title main__section__title--company">Section Title</h2>
        {% endblock %}

    {% block infotemplate %}
    

        <div class="contact">
            <ul class="contact__infos">
                <li class="contact__info__item"><span class="bold">Name:&nbsp;</span>Pied Pipper</li>
                <li class="contact__info__item"><span class="bold">TVA:&nbsp;</span>BE87 876 767 565</li>
                <li class="contact__info__item"><span class="bold">Country:&nbsp;</span>Belgium</li>
                <li class="contact__info__item"><span class="bold">Phone:&nbsp;</span>555 54-34</li>
            </ul>
        </div>
    {% endblock %}

    {% block contactpic %}
        {# Here empty, to update in "CONTACT" page (!= COMPANY page) #}
    {% endblock %}

</section>

{% endblock %}