{#  SHOW_INVOICE + SHOW_CONTACT Informations #}
{# TODO: replace <li> & span.innerhtml by variables + LOOP? #}

<section class="main__section">

    {% block contactcompanyinfo %}
    <div class="contact">
        <ul class="contact__infos">
            <li class="contact__info__item"><span class="bold">Name: </span>Pied Pipper</li>
            <li class="contact__info__item"><span class="bold">TVA: </span>BE87 876 767 565</li>
            <li class="contact__info__item"><span class="bold">Country:</span>Belgium</li>
            <li class="contact__info__item"><span class="bold">Phone:</span>555 54-34</li>
        </ul>
    </div>
    {% endblock %}

    {% block contactpic %}
    {# Here empty, to update in "contact" page #}
    {% endblock %}

</section>