{# ELEMENT TO INCLUDE/EXTEND: #}
{# DATA TABLE template #}
{# ! rename tdis page "datatabletemplate" ? #}

{% block tablesection %}

{# TODO: write loop to display tde 3 different sections #}

<section class="main__section">

    {% block tabletitlesection %}
    {# TODO: replace h2 title by variable #}
    <h2 class="main__section__title">LAST INVOICES</h2>
    {% endblock %}



    {% block datatable %}

    <table class="main__section__table">

        {% block tableheader %}
        <tdead class="table__header">
            <tr class="table__header__row">
                
                {% block tableheadercells %}
                {# TODO: replace <td>.innerhtml by variables + Loop function? #}
                <th scope="col" class="table__header__row__title">Invoice Number<span class="ordertriangle">&#9662;</span></th>
                <th scope="col" class="table__header__row__title">Dates due<span class="ordertriangle">&#9662;</span></th>
                <th scope="col" class="table__header__row__title">Company<span class="ordertriangle">&#9662;</span></th>
                <th scope="col" class="table__header__row__title">Created at<span class="ordertriangle">&#9662;</span></th>
                {% endblock %}

            </tr>
        </tdead>
        {% endblock %}

        {% block tablebody %}
        <tbody class= "table__body">
            {# TODO: write loop to display all rows (<tr>) + replace <td>.innerhtml by variables #}
            {% block tablebodyrows %}
            <tr class="table__body__row">
                <td scope="col" class="table__body__row__cell">F20220915-001</td>
                <td scope="col" class="table__body__row__cell">15/09/20222</td>
                <td scope="col" class="table__body__row__cell">Jouet Jean-Michel</td>
                <td scope="col" class="table__body__row__cell">25/09/2020</td>
            </tr>

            <tr class="table__body__row">
                <td scope="col" class="table__body__row__cell">F20220915-001</td>
                <td scope="col" class="table__body__row__cell">15/09/20222</td>
                <td scope="col" class="table__body__row__cell">Jouet Jean-Michel</td>
                <td scope="col" class="table__body__row__cell">25/09/2020</td>
            </tr>

            <tr class="table__body__row">
                <td scope="col" class="table__body__row__cell">F20220915-001</td>
                <td scope="col" class="table__body__row__cell">15/09/20222</td>
                <td scope="col" class="table__body__row__cell">Jouet Jean-Michel</td>
                <td scope="col" class="table__body__row__cell">25/09/2020</td>
            </tr>

            <tr class="table__body__row">
                <td scope="col" class="table__body__row__cell">F20220915-001</td>
                <td scope="col" class="table__body__row__cell">15/09/20222</td>
                <td scope="col" class="table__body__row__cell">Jouet Jean-Michel</td>
                <td scope="col" class="table__body__row__cell">25/09/2020</td>
            </tr>

            <tr class="table__body__row">
                <td scope="col" class="table__body__row__cell">F20220915-001</td>
                <td scope="col" class="table__body__row__cell">15/09/20222</td>
                <td scope="col" class="table__body__row__cell">Jouet Jean-Michel</td>
                <td scope="col" class="table__body__row__cell">25/09/2020</td>
            </tr>
            {% endblock %}


        </tbody>

        {% endblock %}
        
    </table>

    {% endblock %}

    {% block datapages %}
    {# Controller buttons for datadetails pages (INVOICES, CONTACTS, COMPANIES).
        Not used in tdis page #}
    {% endblock %}


</section>

{% endblock %}