{# ----------------------------- Data tables template ----------------------------- #}
<section class="main__section">
    <h2 class="main__section__title">LAST INVOICES</h2>

    <table class="main__section__table">
        <thead class="table__header">
            <tr class="table__header__row">
                <th scope="col" class="table__header__row__title">Invoice Number<span class="ordertriangle">&#9662;</span></th>
                <th scope="col" class="table__header__row__title">Dates due<span class="ordertriangle">&#9662;</span></th>
                <th scope="col" class="table__header__row__title">Company<span class="ordertriangle">&#9662;</span></th>
                <th scope="col" class="table__header__row__title">Created at<span class="ordertriangle">&#9662;</span></th>
            </tr>
        </thead>

        <tbody class= "table__body">
            <tr class="table__body__row">
                <th scope="col" class="table__body__row__cell">F20220915-001</th>
                <th scope="col" class="table__body__row__cell">15/09/20222</th>
                <th scope="col" class="table__body__row__cell">Jouet Jean-Michel</th>
                <th scope="col" class="table__body__row__cell">25/09/2020</th>
            </tr>

            <tr class="table__body__row">
                <th scope="col" class="table__body__row__cell">F20220915-001</th>
                <th scope="col" class="table__body__row__cell">15/09/20222</th>
                <th scope="col" class="table__body__row__cell">Jouet Jean-Michel</th>
                <th scope="col" class="table__body__row__cell">25/09/2020</th>
            </tr>

            <tr class="table__body__row">
                <th scope="col" class="table__body__row__cell">F20220915-001</th>
                <th scope="col" class="table__body__row__cell">15/09/20222</th>
                <th scope="col" class="table__body__row__cell">Jouet Jean-Michel</th>
                <th scope="col" class="table__body__row__cell">25/09/2020</th>
            </tr>

            <tr class="table__body__row">
                <th scope="col" class="table__body__row__cell">F20220915-001</th>
                <th scope="col" class="table__body__row__cell">15/09/20222</th>
                <th scope="col" class="table__body__row__cell">Jouet Jean-Michel</th>
                <th scope="col" class="table__body__row__cell">25/09/2020</th>
            </tr>

            <tr class="table__body__row">
                <th scope="col" class="table__body__row__cell">F20220915-001</th>
                <th scope="col" class="table__body__row__cell">15/09/20222</th>
                <th scope="col" class="table__body__row__cell">Jouet Jean-Michel</th>
                <th scope="col" class="table__body__row__cell">25/09/2020</th>
            </tr>


        </tbody>
    </table>
</section>