
<h1>dashboard create invoice</h1>

<form method="POST" action="{{ root }}/admin/contact/create" name="form" id="form">

    <p>In the tag form, we put the route for submitting form in action.
        The routes are in routes_list.md at *Submit routes* section</p>

    <input type="text" value="F20220915-002" placeholder="F20220915-002" name="ref">
    <input type="text" value="2022-09-23" placeholder="2022-09-23" name="due_date">
    <input type="text" value="4" placeholder="4" name="company_id">
    <p>input for company must be a select, with companies names as option, returned value must be the id of the selected company.</p>
    <input type="Submit">

    <p>It's important to give names to inputs : theses names will be used by form action to send datas to PHP</p>

</form>

<pre>
{{ dump() }}
</pre>