{{ dump() }}

<h1>dashboard create company</h1>

<form method="POST" action="{{ root }}/admin/company/create" name="form" id="form">

    <p>In the tag form, we put the route for submitting form in action.
        The routes are in routes_list.md at *Submit routes* section</p>

    <input type="text" value="MegaCorp" placeholder="toto" name="name">
    <input type="text" value="Belgium" placeholder="toto" name="country">
    <input type="text" value="1234" placeholder="toto" name="vat">
    <input type="text" value="12345678" placeholder="toto" name="phone">
    <input type="Submit">

    <p>It's important to give names to inputs : theses names will be used by form action to send datas to PHP</p>

</form>

<pre>
{{ dump() }}
</pre>