main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .main__handForm{
        align-self: flex-end;
    }
    .main__lightIdea{
        align-self: flex-start;
    }
    .main__section {
        width: 85%;
        margin: auto;
        &__title {
            font-family: var(--font-family-title);
            font-weight: var(--font-weight-black);
            font-size: 3.75rem;
            margin: 0 0 7rem 0;
            padding-left: 1rem;

        }
    
        &__table {
            border-collapse: collapse;
            width: 100%;
            font-family: var(--font-family-header);
            font-weight: var(--font-weight-semibold);
            font-size: 20px;
    
            .table__header {
                width: fit-content;
    
                &__row {
                    background-color: var(--color-yellow);
                    height: 55px;
                    &__title {
                        // = yello cell/col
                        padding: 0 1.3rem 0 1.6rem;
                        vertical-align: middle;
                        text-align: left;
                        white-space: nowrap;
                        border: none;
    
                        &:first-child {
                            padding-left: 2.3rem;
                        }
    
                        &:nth-last-child(1) {
                            width: 100%;
                        }
                    }
                }
            }
    
            .table__body {
                &__row {
                    height: 55px;
                    padding: 0 1rem;
    
                    &:nth-of-type(even) {
                        background-color: var(--color-lightgreytablerows);
                    }
    
                    &__cell {
                        padding: 0 1.3rem;
                        vertical-align: middle;
                        text-align: left;
                        white-space: nowrap;
    
                        &:first-child {
                            padding-left: 2rem;
                        }
                    }
                }
            }
        }
    }

}


.ordertriangle {
    font-size: 25px;
    vertical-align: middle;
    line-height: unset !important;
}

