.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    color: var(--color-darkbluefooter);
    .footer__banner {
        border-top: 2px solid var(--color-yellow);
        border-bottom: 1px solid rgb(199, 199, 199);
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0px;
        margin-top: 6.25rem;

        
        .footer__banner__logo {
            font-weight: 900;
            font-size: 48px;
            border: 5px solid var(--color-yellow);
            color: var(--color-greyfooterlogo);
            padding: 5px;
            margin-bottom: 10px;
            
            @media only screen and (max-width: 413px) {
                flex-direction: column;
                padding: 10px 0px;
            }
        }
        .footer__banner__infos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 40%;
            color: var(--color-greyfootertext);
            @media only screen and (max-width: 413px) {
                width: 100%;
                align-items: center;
            }
            .banner__infos__adress {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 5%;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 5%;
            }
            .banner__infos__contact {
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 5%;
                .infos__contact__phone {
                    display: flex;
                    align-items: center;
                    gap: 10%;
                    width: 50%;
                }
                .infos__contact__fax {
                    display: flex;
                    align-items: center;
                    gap: 10%;
                    width: 50%;
                }
            }
            .banner__infos__social {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                width: 100%;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2%;
                    @media only screen and (max-width: 413px) {
                        flex-wrap: wrap;
                    }
                    .social__icons__title {
                        mix-blend-mode: normal;
                        opacity: 0.5;
                        white-space: nowrap;
                        cursor: default;
                    }
                    li {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .footer__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 100px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: var(--color-darkbluefooter);
        @media only screen and (max-width: 413px) {
            flex-direction: column;
        }
        .footer__menu__nav {
            display: flex;
            justify-content: space-evenly;
            gap: 2vw;
            @media only screen and (max-width: 413px) {
                flex-wrap: wrap;
            }
            li {
                padding: 10px;
                cursor: pointer;
                white-space: nowrap;

                & a {
                    text-decoration: none;
                    color: var(--color-blacktext);
                };
            }
        }
        .footer__menu__copyright {
            color: var(--color-greyfootertext);
        }
    }
}

// Section above banner on welcome page:
.main {
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__section--downbanner {
    z-index: 1;
    // background-image: url('../img/Rectangle17.png');
    // background-repeat: no-repeat;
    // background-position: 40rem;
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
}

.bottomBanner {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
    .downbanner__content {
        z-index: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__slogan {
            position: relative;
            z-index: 1;
            font-family: var(--font-family-title);
            font-weight: var(--font-weight-black);
            font-size: 4vw;
            line-height: 125%;
            width: 40%;
            margin-left: 10%;
        }
        &__image {
            z-index: 1;
            width: 80%;
        }
    }
}
