.header {
    background-color: var(--color-yellow);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    margin-bottom: 3.5rem;
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 3%;
        width: 80%;
        &__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .header__dropdown {
                // width: 100%;
                display: flex;
                // justify-content: space-between;
                justify-content: flex-start;
                align-items: center;
            }
            .header__menu__logo {
                font-weight: 900;
                font-size: 3vw;
                line-height: 56px;
                margin-right: 5vw;
                @media only screen and (max-width: 413px) {
                    font-size: 5vw;
                }
            }
            .toggle-button {
                // display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30px;
                height: 21px;
            }
            .toggle-button .bar {
                height: 3px;
                width: 100%;
                background-color: rgb(0, 0, 0);
                border-radius: 10px;
            }
            .navbar-links {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .header__menu__nav {
                    display: flex;
                    justify-content: flex-start;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 23px;
                    width: 100%;
                    li {
                        padding: 10px;
                        cursor: pointer;
                        border: 0.5px;
                        
                        a {
                            text-decoration: none;
                            &:visited {
                                color: var(--color-blacktext);
                            }
                            // &[aria-current="page"] {
                            //     color:aqua;
                            //   };
                            
                        };
                        &.activepage {
                            border: 0.5px solid black;
                        };
                    };
                    li:hover {
                        border: solid 0.5px;
                    };
                    .menu__connection__signUp {
                        font-family: "Roboto";
                        font-weight: 600;
                        font-size: 20px;
                        white-space: nowrap;
                        border: none;
                        background-color: rgb(255, 255, 255);
                        border-radius: 10px;
                        margin-left: auto;
                        margin-right: 5%;
                        padding: 5px 10px;

                        cursor: pointer;
                        @media (max-width: 800px) {
                            background-color: rgb(255, 255, 255);
                            margin: 0;
                        }
                    }
                    .menu__connection__signUp:hover {
                        background-color: rgb(251, 255, 134);
                    }
                    .menu__connection__login {
                        font-family: "Roboto";
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 23px;
                        background-color: var(--color-yellow);
                        padding: 10px;
                        cursor: pointer;
                        border: 0.5px;
                    }
                    .menu__connection__login:hover {
                        border: solid 0.5px;
                    }
                }
            }
        }
    }
    .header__banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-bottom: 2%;
        .header__banner__slogan {
            font-family: "Inter";
            font-weight: 900;
            font-size: 5vw;
            // @media only screen and (max-width: 413px){
            //     font-size: 1.5rem;
            //     line-height: 20px;
            // }
            // @media only screen and (min-width:413px) and (max-width: 811px){
            //     font-size: 2.25rem;
            //     line-height: 50px;
            // }
            width: 50%;
        }
        .header__banner__image {
            width: 40%;
            @media only screen and (max-width: 413px) {
                width: 50%;
            }
        }
    }
    .header__mask {
        width: 90%;
    }
}

@media (max-width: 811px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        .header__dropdown {
            width: 100%;
            justify-content: space-between;
        }
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none !important;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 30%;
        background-color: var(--color-yellow);

        .header__menu__nav {
            width: 80%;
            border-top: solid;
            border-bottom: solid;
        }
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navbar-links ul li {
        text-align: center;
        padding: 50px 0px;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex !important;
        width: 100%;
    }

}



